<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.ssm.mapper.TbResourceMapper">
	<!-- 插入表  增加-->
	<insert id="insertTbResource" parameterType="com.bjsxt.ssm.bean.TbResource" >
		
		<selectKey resultType="int" keyProperty="resourceId">
			SELECT LAST_INSERT_ID()
		</selectKey>
			
		insert into tb_resource(resource_name,resource_url) 
							values(#{resourceName},#{resourceUrl})
	</insert>
	
	<select id="selectTbResource" parameterType="map"  resultMap="resourceidmap">
		select * from tb_resource where resource_id=#{resourceId}
	</select>
	<select id="selectTbResourceByResourceName" parameterType="map" resultMap="resourceidmap">
		SELECT * FROM  tb_resource WHERE resource_name=#{resourceName}
	</select>
	
	<select id="pagination" parameterType="map" resultMap="resourceidmap">
		select * from tb_resource limit #{limit}, #{pageSize}
	</select>	
	
	<select id="queryTbResourceCount" resultType="int">
		SELECT count(*) FROM  tb_resource WHERE 1=1
	</select>
	
	<delete id="deleteTbResource" parameterType="map" >
		delete from tb_resource where resource_id=#{resourceId}
	</delete>
	
	<update id="updateTbResource" parameterType="map"  >
		update tb_resource  set	resource_name =#{resourceName} 
								resource_url=#{resourceUrl}
								where resource_id=#{resourceId}
								
	</update>
	
	<resultMap type="com.bjsxt.ssm.bean.TbResource" id="resourceidmap">
		<id column="resource_id" property="resourceId"/>
		<result column="resource_name" property="resourceName"/>
		<result column="resource_url" property="resourceUrl"/>
		
	</resultMap>
	
</mapper>