<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.ssm.mapper.TbRoleMapper">
	<!-- 插入表  增加-->
	<insert id="insertTbRole" parameterType="com.bjsxt.ssm.bean.TbRole" >
		<selectKey resultType="int" keyProperty="roleId">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into tb_role(role_name) 
							values(#{roleName})
	</insert>
	
	<select id="selectTbRole" parameterType="map"  resultMap="roleidmap">
		select * from tb_role where role_id=#{roleId}
	</select>

	<select id="pagination" parameterType="map" resultMap="roleidmap">
		select * from tb_role limit #{limit}, #{pageSize}
	</select>
	
	<select id="selectTbRoleByRoleName" parameterType="map" resultMap="roleidmap">
		SELECT * FROM  tb_role WHERE role_name=#{roleName}
	</select>
	
	<select id="queryTbRoleCount" resultType="int">
		SELECT count(*) FROM  tb_role WHERE 1=1
	</select>
	
	<delete id="deleteTbRole" parameterType="map" >
		delete from tb_role where role_id=#{roleId}
	</delete>
	
	<update id="updateTbRole" parameterType="map"  >
		update tb_role  set	role_name =#{roleName} 
								where role_id=#{roleId}
								
	</update>
	
	<resultMap type="com.bjsxt.ssm.bean.TbRole" id="roleidmap">
		<id column="role_id" property="roleId"/>
		<result column="role_name" property="roleName"/>
		
	</resultMap>
	
</mapper>