<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.ssm.mapper.TbUserMapper">
	<!-- 插入表  增加-->
	<insert id="insertTbUser" parameterType="com.bjsxt.ssm.bean.TbUser">
		<selectKey resultType="int" keyProperty="userId">
			SELECT LAST_INSERT_ID()
		</selectKey>
			
		insert into tb_user(user_name,user_pwd) 
							values(#{userName},#{userPwd})
	</insert>
	
	<select id="selectTbUser" parameterType="map"  resultMap="useridmap">
		select * from tb_user where user_id=#{userId}
	</select>
	
	<select id="pagination" parameterType="map" resultMap="useridmap">
		select * from tb_user limit #{limit}, #{pageSize}
	</select>
	<select id="selectTbUserByUserName" parameterType="map" resultMap="useridmap">
		SELECT * FROM  tb_user WHERE user_name=#{userName}
	</select>
	
	<select id="queryTbUserCount" resultType="int">
		SELECT count(*) FROM  tb_user WHERE 1=1
	</select>
	
	<delete id="deleteTbUser" parameterType="map" >
		delete from tb_user where user_id=#{userId}
	</delete>
	
	<update id="updateTbUser" parameterType="map"  >
		update tb_user  set	user_name =#{userName} ,
							user_pwd=#{userPwd}
							
						
								where user_id=#{userId}
								
	</update>
	
	<resultMap type="com.bjsxt.ssm.bean.TbUser" id="useridmap">
		<id column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="user_pwd" property="userPwd"/>
		
	</resultMap>
	
</mapper>